[Desktop Entry]
Version=1.0
Type=Link
Name=PDF Software Free Download | Foxit Software
Comment=
Icon=user-bookmarks
URL=https://www.foxit.com/downloads/#Foxit-Reader/
